

h1, h2, h3, h4, h5, h6 {  display: block;  font-weight: bold; }
p {display: block; font-size: 18px;}

h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1em;}
h5 {font-size: .83em;}
h6 {font-size: .67em;}

