
html, body { margin: 0}

body * {margin: 0; box-sizing: border-box;}

body {
    height: 100vh;
    width: 100%;
    font-size: 0;
    color: #B78727;
    font-family: 'Rock Salt', cursive;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    overflow: hidden;
    background-image: url("../images/cave.jpg");
}

h1, h2, h3, h4 {  display: block;  font-weight: bold; }
p {display: block;}

h1 {font-size: 4.5vh;}
h2 {font-size: 4vh;}
h3, p, li {font-size: 3vh;}
h4 {font-size: 2vh;}


@media only screen and (max-width: 500px) {
    body { background: linear-gradient(to top left, black 45%, gray); }
    h1 {font-size: 3vh;}
    h2 {font-size: 2vh;}
    h3, p, li {font-size: 1.5vh;}
    h4 {font-size: 1vh;}
}
