#match-guide {
    width: 70%;
    height: 99%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-end;
    background-size: cover;
}

#match-guide > div {
    width: 80%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border: 2px solid black;
    font-size: 3vh;
}

.card-figure {
    background-color: black;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dragon-card-image {
    width: 40%;
}

.card-figure img:nth-child(n+1) {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
}


#match-guide > div div:last-child {
    width: 75%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    padding: 0 2%;
}

#dragon-card-image img {
    width: 100%;
    border: 1px solid black;
}

#dragon-card-info {
    height: 190px;
}

#match-guide h1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(270deg) translateY(-50%);
    margin: 0;
    padding: 0;
}

#match-guide #close-message {
    display: none;
}

@media only screen and (max-width: 700px) {

    #match-guide > div {
        width: 90%;
    }

    #match-guide div, li {
        font-size: 2.5vh;
    }

    #dragon-card-info {
        height: 150px;
    }

    .close {
        top: 1%;
        right: 1%;
    }

}

@media only screen and (max-width: 500px) {

    #match-guide {
        height: 50%;
    }

    #match-guide  *:not(.close):not(#close-message) {
        display: none;
    }

    #match-guide .close {
        font-size: 20px;
    }

    #match-guide #close-message {
        display: block;
        font-size: 32px;
        color: black;
        text-align: center;
        border: none;
        width: 100%;

    }

}