#outer-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#inner-modal {
    width: 50%;
    background-image: url('../images/graphpaper.jpg');
    display: flex;
    flex-flow: column;
    padding: 2%;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-family: 'Permanent Marker', cursive;
    line-height: 1.5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    transition: 1s;
}

#inner-modal p, #inner-modal h1 {
    padding-bottom: 10%;
}

#inner-modal h1 {
    font-family: 'Permanent Marker', cursive;
}

#close {
    position: absolute;
    top: 2%;
    right: 2%;
    color: black;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3vmin;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.top-hidden {
    top: -50%;
}

.shown {
    top: 50%;
}

#inner-modal img {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 10%;
}

#modal-button-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}






